body {
    background-color: #151719;
}

h2 {
    color: #FFFFFF;
}

h3 {
    color: #FFFFFF;
}

table {
    border-width: 1px;
    border-style: solid;
    border-color: #E8FBFF;
    border-collapse: collapse;
}

th {
    color: #FFF8EE;
    border-width: 1px;
    border-style: solid;
    border-color: #E8FBFF;
}

td {
    color: #FFF8EE;
    border-width: 1px;
    border-style: solid;
    border-color: #E8FBFF;
}

a {
    color: lightgreen;
}