body {
    background-color: #151719;
}

h2 {
    color: #FFFFFF;
}

h3 {
    color: #FFFFFF;
}

h3.message {
    color: #8cecf3;
}

table {
    border-width: 1px;
    border-style: solid;
    border-color: #E8FBFF;
    border-collapse: collapse;
}

th {
    color: #fdc16d;
    border-width: 1px;
    border-style: solid;
    border-color: #E8FBFF;
    text-align: center;
    padding: 5px;
}

td {
    color: #FFF8EE;
    border-width: 1px;
    border-style: solid;
    border-color: #E8FBFF;
    text-align: center;
    text-wrap: pretty;
}

td.message {
    padding: 3px;
}

td.time {
    padding: 5px;
}

a {
    color: lightgreen;
}
