<html>
    <head>
        <Title>Legend Parse</Title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />
    </head>
    <body>
        <div class="containter text-center">
            <div class="row">
                <div class="col-2 d-flex justify-content-center">
                    <nav class="nav flex-column w-100 ms-auto">
                        {% include 'nav.html' %}
                    </nav>
                </div>
                    <div class="col-md-auto" align="center">
                        <h2>Stored Messages</h2>
                    <table width="100%">
                        <thead>
                            <th>ID</th>
                            <th>Record Type</th>
                            <th>Message</th>
                            <th>Date Created</th>
                            <th>Last Updated</th>
                            <th colspan="3">Actions</th>
                        </thead>
                        <tbody>
                        {% for data in messages %}
                            <tr>
                            <td>{{data.id}}</td>
                            <td>{{data.record_type}}</td>
                            <td class="message">{{data.message}}</td>
                            <td class="time">{{data.date_created}}</td>
                            <td class="time">{{data.last_updated}}</td>
                            <td><a href="/slicer/{{data.id}}"><button type="button" class="btn btn-outline-warning btn-sm">Slice</button></a></td>
                            <td><a href="/update/{{data.id}}"><button type="button" class="btn btn-outline-info btn-sm">Update</button></a></td>
                            <td><a href="/delete/{{data.id}}"><button type="button" class="btn btn-outline-danger btn-sm">Delete</button></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <br />
                        <h2>Records</h2>
                    <table width="100%">
                        <thead>
                            <th>Record Type</th>
                            <th>Field ID</th>
                            <th>Field Name</th>
                            <th>Field Description</th>
                            <th>Field Length</th>
                            <th colspan="2">Actions</th>
                        </thead>
                        <tbody>
                        {% for data in records %}
                            <tr>
                            <td>{{data.record_type}}</td>
                            <td>{{data.field_id}}</td>
                            <td>{{data.field_name}}</td>
                            <td>{{data.field_description}}</td>
                            <td>{{data.field_length}}</td>
                            <td><a href="/update_field/{{data.record_type}}/{{data.field_id}}"><button type="button" class="btn btn-outline-info btn-sm">Update</button></a></td>
                            <td><a href="/delete/{{data.record_type}}/{{data.field_id}}"><button type="button" class="btn btn-outline-danger btn-sm">Delete</button></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                <div class="col"></div>
            </div>
        </div>
    </body>
</html>