<html>
    <head>
        <title>Parser</title>
    </head>
    <body>
        <div align="center">
            <div align="center">
                <h2>Navigation</h2>
                <nav>
                    <a href="/">Home</a>
                </nav>
            </div>
            <div align="center">
                <h2>Add Message</h2> 
                <form action="/add_message" method="POST">
                    <table>
                        <thead>
                            <th>Record Type</th>
                            <th>Message</th>
                        </thead>
                        <tbody>
                            <td><input type="text" name="recordType" placeholder="Identifier here max 5 characters" maxlength="5"></td>
                            <td><input type="textarea" name="message" placeholder="Insert message here..."></td>
                            <td><button type="submit">Add</button></td>
                        </tbody>
                    </table>
                </form>
                    <br />
                <h2>Create Parser Parameters for Message Record</h2>
                <form action="/add_record" method="POST" id="parameters">
                    <table>
                        <thead>
                            <th>Record Type</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" name="recordType" placeholder="Identifier here max 5 characters" maxlength="5"></td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                        <table id="paramsContainer">
                        <thead>
                            <th>Field Name</th>
                            <th>Field Length</th>
                            <th>Field Description</th>
                        </thead>
                        <tbody>
                            <tr class="paramsWrapper">
                                <td><input type="text" name="fieldName1" id="fieldName1" placeholder="Field Name" required></td>
                                <td><input type="text" name="fieldLength1" id="fieldLength1" placeholder="String Length" required></td>
                                <td><input type="text" name="fieldDesc1" id="fieldDesc1" placeholder="Description"></td>
                                <td><button class="removeField">Remove</button></td>
                            </tr>
                            <tfoot>
                                <tr>
                                    <td rowspan="3" colspan="3" style="vertical-align: middle;" align="center"><button id="addFields">Add Field</button>
                                    <button type="submit">Create Message Parameters</button></td>
                                </tr>
                            </tfoot>
                        </tbody>
                        </table>
                    </div>
                </form>
            </div>
        <script>
            let elementCount = 0;

            document.getElementById('addFields').addEventListener('click', function(event){
            event.preventDefault();
            elementCount+=1;

            const paramsContainer = document.getElementById('paramsContainer');
            const wrapper = document.createElement('tr');
            wrapper.className = 'paramsWrapper'; 

            var newFieldNameCell = document.createElement('td');
            var newFieldLengthCell = document.createElement('td');
            var newFieldDescCell = document.createElement('td');

            var newFieldNameInput = document.createElement('input');
            var newFieldLengthInput = document.createElement('input');
            var newFieldDescInput = document.createElement('input');
            
            newFieldNameInput.type = 'text';
            newFieldNameInput.name = 'fieldName' + (elementCount + 1);
            newFieldNameInput.id = 'fieldName' + (elementCount + 1);
            newFieldNameInput.placeholder = 'Field Name ' + (elementCount + 1);

            newFieldLengthInput.type = 'text';
            newFieldLengthInput.name = 'fieldLength' + (elementCount + 1);
            newFieldLengthInput.id = 'fieldLength' + (elementCount + 1);
            newFieldLengthInput.placeholder = 'Field Length ' + (elementCount + 1);

            newFieldDescInput.type = 'text';
            newFieldDescInput.name = 'fieldDesc' + (elementCount + 1);
            newFieldDescInput.id = 'fieldDesc' + (elementCount + 1);
            newFieldDescInput.placeholder = 'Field Description ' + (elementCount + 1);

            wrapper.append(newFieldNameCell);
            wrapper.append(newFieldLengthCell);
            wrapper.append(newFieldDescCell);
            
            newFieldNameCell.appendChild(newFieldNameInput);
            newFieldLengthCell.appendChild(newFieldLengthInput);
            newFieldDescCell.appendChild(newFieldDescInput);

            var removeButton = document.createElement('button');
            removeButton.textContent = 'Remove';
            removeButton.classList.add('removeField');
            removeButton.addEventListener('click', function(event) {
                event.preventDefault();
                event.currentTarget.parentElement.remove();
                console.log(event.currentTarget.parentElement, event.currentTarget.closest('.paramsWrapper'));
                elementCount-=1;
            });

            wrapper.appendChild(removeButton);
            paramsContainer.appendChild(wrapper);
        });
        </script>
    </body>
</html>