<html>
    <head>
        <title>Parser</title>
    </head>
    <body>
        <div align="center">
            <div align="center">
                <h2>Navigation</h2>
                <nav>
                    <a href="/">Home</a>
                </nav>
            </div>
            <div align="center">
                <h2>Add Message</h2> 
                <form action="/add_message" method="POST">
                    <table>
                        <thead>
                            <th>Record Type</th>
                            <th>Message</th>
                        </thead>
                        <tbody>
                            <td><input type="text" name="recordType" placeholder="Identifier here max 5 characters" maxlength="5"></td>
                            <td><input type="textarea" name="message" placeholder="Insert message here..."></td>
                            <td><button type="submit">Add</button></td>
                        </tbody>
                    </table>
                </form>
                    <br />
                <h2>Create Parser Parameters for Message Record</h2>
                <form action="/add_record" method="POST" id="parameters">
                    <table>
                        <thead>
                            <th>Record Type</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" name="recordType" placeholder="Identifier here max 5 characters" maxlength="5"></td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <div id="paramsContainer">
                        <div class="paramsWrapper">
                            <table>
                            <thead>
                                <th>Field Name</th>
                                <th>Field Length</th>
                                <th>Field Description</th>
                            </thead>
                            <tbody>
                            <tr>
                            <td><input type="text" id="params1" placeholder="Field Name" required></td>
                            <td><input type="text" id="params2" placeholder="String Length" required></td>
                            <td><input type="text" id="params3" placeholder="Description"></td>
                            <td><button class="removeField">Remove</button></td>
                            </tr>
                            </div>
                        </div>
                                <tr><td rowspan="3" colspan="3" style="vertical-align: middle;" align="center"><button id="addField">Add Field</button>
                                <button type="submit">Create Message Parameters</button></td></tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        <script>
            let elementCount = 0;

            document.getElementById('addField').addEventListener('click', function(event){
            event.preventDefault();
            elementCount+=1;

            const paramsContainer = document.getElementById('paramsContainer');
            const wrapper = document.createElement('div');
            wrapper.className = 'paramsWrapper';

            var newLabel = document.createElement('label');
            var newField = document.createElement('input');
            
            newLabel.textContent = 'Parameter ' + (elementCount + 1) + ' Length: ';
            newField.type = 'text';
            newField.placeholder = 'Parameter Field ' + (elementCount + 1);
            newField.id = 'params' + (elementCount + 1);

            wrapper.append(newLabel);
            wrapper.appendChild(newField);

            var removeButton = document.createElement('button');
            removeButton.textContent = 'Remove';
            removeButton.classList.add('removeField');
            removeButton.addEventListener('click', function(event) {
                event.preventDefault();
                event.currentTarget.parentElement.remove();
                console.log(event.currentTarget.parentElement, event.currentTarget.closest('.paramsWrapper'));
                elementCount-=1;
            });

            wrapper.appendChild(removeButton);
            paramsContainer.appendChild(wrapper);
        });
        </script>
    </body>
</html>