<html>
    <head>
        <title>Slicer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />
    </head>
    <body>
        <div align="center">
            <div align="center">
                <h2>Navigation</h2>
                <nav>
                    <a href="/">Home</a>
                </nav>
            </div>
            <div align="center">
            <h2>Sliced Message ID: {{message.id}}</h2>
            <h3>{{message.message}}</h3>
            <h3>Record Type: {{record_type}}</h3>
            <table>
                <thead>
                    <th>Field Name</th>
                    <th>Field Description</th>
                    <th>Field Length</th>
                    <th>Message Value</th>
                </thead>
                <tbody>
            {% for data in records %}
                    <tr>
                    <td>{{data.field_name}}</td>
                    <td>{{data.field_description}}</td>
                    <td>{{data.field_length}}</td>
                    <td>{{slice}}</td>
                    </tr>
            {% endfor %}
            </tbody>
            </table>
            </div>
        </div>
    </body>
</html>