<html>
    <head>
        <title>Update Message</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />
    </head>
    <body>
        <div align="center">
            <div align="center">
                <h2>Navigation</h2>
                <nav>
                    <a href="/">Home</a>
                </nav>
            </div>
            <div align="center">
                <h2>Update Message</h2>
                <form action="/update/{{id}}" method="POST">
                    <h3>Updating Message {{id}}</h3>
                    <br />
                    <label>Record Type:</label>
                    <input type="textarea" name="record_type" value="{{record_type}}" maxlength=5>
                    <br />
                    <label>Message:</label>
                    <input type="textarea" name="message" value="{{message}}">
                    <button type="submit">Update</button>
                </form>
            </div>
        </div>
    </body>
</html>