<html>
    <head>
        <title>Update Field</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />
    </head>
    <body>
        <div class="containter text-center">
            <div class="row">
                <div class="col-2 d-flex justify-content-center">
                    <nav class="nav flex-column w-100 ms-auto">
                        {% include 'nav.html' %}
                    </nav>
                </div>
                <div class="col-md-auto">
                    <h2>Update Record Field</h2>
                    <h3>Updating Record: {{record_type}} Field: {{field_id}}</h3>
                    <form action="/update_field/{{record_type}}/{{field_id}}" method="POST">
                        <table>
                            <thead>
                                <th>Record Type</th>
                                <th>Field ID</th>
                                <th>Field Name</th>
                                <th>Field Description</th>
                                <th>Field Length</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{record.record_type}}</td>
                                    <td>{{record.field_id}}</td>
                                    <td><input type="text" name="fieldName" value="{{record.field_name}}" required></td>
                                    <td><input type="text" name="fieldDesc" value="{{record.field_description}}"></td>
                                    <td><input type="text" name="fieldLength" value="{{record.field_length}}" required></td>
                                    <td><a href="/update_field/{{record.record_type}}/{{field_id}}"><button type="submit" class="btn btn-outline-info btn-sm">Update</button></a></td>
                                    <td><a href="/delete/{{record.record_type}}/{{field_id}}"><button type="button" class="btn btn-outline-danger btn-sm">Delete</button></a></td>
                                </tr>
                        </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>